---
import { Ads } from "../components/ads";
import { Comments } from "../components/Comments";
import { Assets, Game } from '../components/game';
import { Redirect } from '../components/redirect';
import "../components/redirect.css";
import { home } from "../data/translations";
import { baseLocale } from "../data/urls";
import Layout from "../layouts/base.astro";

const { locale = baseLocale } = Astro.props as { locale: string };
const t = home[locale];
---

<Layout locale={locale} title={t.title} description={t.description}>
  <Redirect client:only="preact" locale={locale} />

  <main>
    <p set:html={t.intro} />

    <div class="my-8">
      <Ads />
    </div>

    <div class="my-12">
      <Assets />
      <Game client:only="preact" />
    </div>

    <p set:html={t.play} />

    <div class="mt-4">
      <Comments discussion={t.discussion} />
    </div>

    <h2 class="mt-12 mb-4 text-2xl font-bold text-gray-800" set:html={t.rulesTitle} />
    <p class="mb-4" set:html={t.rules} />
    <p class="mb-4" set:html={t.about} />
    <p set:html={t.cheats} />
  </main>

</Layout>